// Ease-in
$ease-in					: ease-in;
$ease-in-sine				: cubic-bezier(.47,0,.74,.71);
$ease-in-quad				: cubic-bezier(.55,.09,.68,.53);
$ease-in-cubic				: cubic-bezier(.55,.06,.68,.19);
$ease-in-quar				: cubic-bezier(.9,.03,.69,.22);
$ease-in-quin				: cubic-bezier(.76,.05,.86,.06);
$ease-in-expo				: cubic-bezier(.95,.05,.8,.04);
$ease-in-circ				: cubic-bezier(.6,.04,.98,.34);
$ease-in-back				: cubic-bezier(.6,-0.28,.74,.05);

// Ease-out
$ease-out					: ease-out;
$ease-out-sine				: cubic-bezier(.39,.58,.57,1);
$ease-out-quad				: cubic-bezier(.25,.46,.45,.94);
$ease-out-cubic				: cubic-bezier(.22,.61,.36,1);
$ease-out-quar				: cubic-bezier(.17,.84,.44,1);
$ease-out-quin				: cubic-bezier(.23,1,.32,1);
$ease-out-expo				: cubic-bezier(.19,1,.22,1);
$ease-out-circ				: cubic-bezier(.08,.82,.17,1);
$ease-out-back				: cubic-bezier(.18,.89,.32,1.28);

// Ease-in-out
$ease-in-out				: ease-in-out;
$ease-in-out-sine			: cubic-bezier(.45,.05,.55,.95);
$ease-in-out-quad			: cubic-bezier(.46,.03,.52,.96);
$ease-in-out-cubic			: cubic-bezier(.65,.05,.36,1);
$ease-in-out-quar			: cubic-bezier(.77,0,.18,1);
$ease-in-out-quin			: cubic-bezier(.86,0,.07,1);
$ease-in-out-expo			: cubic-bezier(1,0,0,1);
$ease-in-out-circ			: cubic-bezier(.79,.14,.15,.86);
$ease-in-out-back			: cubic-bezier(.68,-0.55,.27,1.55);
