$color: (
	primary: #ffffff,
	secondary: #fcd9ac,
	hover: #c88244,
	black: #000000,
	white: #ffffff,
	grey: #33303b,





































);

// ***** ***** Mixins & Functions to generate color as css ***** ***** \\
// Function to get color
@function color( $name, $strength: null ) {
	@if ( $strength ) {
		@return mix( map-get( $color, $name ), white, $strength);
	} @else {
		@return map-get($color, $name);
	}
}

// Generate text-color css from all available color
@mixin color-modifiers {

	@each $name,
	$hex in $color {
		&-#{$name} {

			&,
			p,
			td,
			h1,
			h2,
			h3,
			h4,
			h5,
			h6,
			span,
			a,
			li {
				color: $hex;
			}
		}
	}
}

// Generate hover-color css from all available color
@mixin color-modifiers_hover {

	@each $name,
	$hex in $color {
		&-#{$name} {

			&,
			p,
			td,
			h1,
			h2,
			h3,
			h4,
			h5,
			h6,
			span,
			a,
			li {
				&:hover {
					color: $hex;

				}
			}
		}
	}
}

// ***** ***** Generate .text-color and hover-color css ***** ***** \\
.text { @include color-modifiers; }
.hover { @include color-modifiers_hover; }
