// Font-family
$primaryfont				: 'ITCFranklinGothicStd', sans-serif;
$secondaryfont				: 'ITCFranklinGothicStd', sans-serif;
$headingfont				: 'ITCFranklinGothicStd', sans-serif;
$blockquote					: 'ITCFranklinGothicStd', sans-serif;
$script						: 'ITCFranklinGothicStd', sans-serif;

// Font-size
$bodysize					: 18px;
$h1size						: 3rem;
$h2size						: 3rem;
$h3size						: 2.50rem;
$h4size						: 2.00rem;
$h5size						: 1.50rem;
$h6size						: 1.25rem;

// Font-weight
$bodyweight					: bold;
$h1weight					: bolder;
$h2weight					: bolder;
$h3weight					: bolder;
$h4weight					: bold;
$h5weight					: bold;
$h6weight					: bold;


// Line-height
$lineheight-tight			: 1.0;
$lineheight-close			: 1.25;
$lineheight-normal			: 1.5;
$lineheight-loose			: 2.0;
$lineheight-spacy			: 2.5;
