.vc_empty_space {
	font-size: 1px !important;

	// Desktop
	@media (max-width: 1023px) {
		font-size: 1px !important;
	}

	// Tablet
	@media (max-width: 767px),	(min-width: 1024px) {
		font-size: 1px !important;
	}

	// Mobile
	@media (min-width: 768px) {
		font-size: 1px !important;
	}

}
