// 1. Set the project url & child theme directory name
$subdomain: 'badlab';
$childtheme: 'oceanwp-child';

/* ***** ***** ***** ***** ***** ***** ***** ***** ***** */
/* ***** Source Sans Variable font */
// Get the font file from 'src/font/SourceSansPro--variable'
/*@font-face {
	font-family: 'Source Sans Variable';
	font-weight: 200 900;
	font-style: normal;
	font-stretch: normal;
	src: url('http://shockstage.com/#{unquote($subdomain)}/wp-content/themes/#{unquote($childtheme)}/fonts/SourceSansPro--variable/SourceSansVariable-Roman.otf') format('opentype'),
		url('http://shockstage.com/#{unquote($subdomain)}/wp-content/themes/#{unquote($childtheme)}/fonts/SourceSansPro--variable/SourceSansVariable-Roman.otf.woff2') format('woff2'),
		url('http://shockstage.com/#{unquote($subdomain)}/wp-content/themes/#{unquote($childtheme)}/fonts/SourceSansPro--variable/SourceSansVariable-Roman.otf.woff') format('woff'),
		url('http://shockstage.com/#{unquote($subdomain)}/wp-content/themes/#{unquote($childtheme)}/fonts/SourceSansPro--variable/SourceSansVariable-Roman.ttf') format('truetype');
}*/

// Italic style
/*@font-face {
	font-family: 'Source Sans Variable';
	font-weight: 200 900;
	font-style: italic;
	font-stretch: normal;
	src: url('http://shockstage.com/#{unquote($subdomain)}/wp-content/themes/#{unquote($childtheme)}/fonts/SourceSansPro--variable/SourceSansVariable-Italic.otf') format('opentype'),
		url('http://shockstage.com/#{unquote($subdomain)}/wp-content/themes/#{unquote($childtheme)}/fonts/SourceSansPro--variable/SourceSansVariable-Italic.otf.woff2') format('woff2'),
		url('http://shockstage.com/#{unquote($subdomain)}/wp-content/themes/#{unquote($childtheme)}/fonts/SourceSansPro--variable/SourceSansVariable-Italic.otf.woff') format('woff'),
		url('http://shockstage.com/#{unquote($subdomain)}/wp-content/themes/#{unquote($childtheme)}/fonts/SourceSansPro--variable/SourceSansVariable-Italic.ttf') format('truetype');
}*/

// END Source Sans Variable font
/* ***** ***** ***** ***** ***** ***** ***** ***** ***** */


/* ***** ***** ***** ***** ***** ***** ***** ***** ***** */
/* ***** Google Material Icon font */
// Get the font file from 'src/font/source_sans_variable'
/*@font-face {
	font-family: 'Material Icons';
	font-style: normal;
	font-weight: 400;
	src: url(http://shockstage.com/#{unquote($subdomain)}/wp-content/themes/#{unquote($childtheme)}/fonts/material_icon/MaterialIcons-Regular.eot);
	src: local('Material Icons'),
		 local('MaterialIcons-Regular'),
		 url(http://shockstage.com/#{unquote($subdomain)}/wp-content/themes/#{unquote($childtheme)}/fonts/material_icon/MaterialIcons-Regular.woff2) format('woff2'),
		 url(http://shockstage.com/#{unquote($subdomain)}/wp-content/themes/#{unquote($childtheme)}/fonts/material_icon/MaterialIcons-Regular.woff) format('woff'),
		 url(http://shockstage.com/#{unquote($subdomain)}/wp-content/themes/#{unquote($childtheme)}/fonts/material_icon/MaterialIcons-Regular.ttf) format('truetype');
}*/

// END Google Material Icon font
/* ***** ***** ***** ***** ***** ***** ***** ***** ***** */


/* ***** ***** ***** ***** ***** ***** ***** ***** ***** */
/* ***** Source Sans Variable font */
// Get the font file from 'src/font/SourceSansPro--variable'
@font-face {
	font-family: 'ITCFranklinGothicStd';
	font-weight: 300 499;
	font-style: normal;
	font-stretch: normal;
	src: url('http://shockstage.com/#{unquote($subdomain)}/wp-content/themes/#{unquote($childtheme)}/fonts/ITCFranklinGothicStd/ITCFranklinGothicStd-Book.otf') format('opentype'),
		url('http://shockstage.com/#{unquote($subdomain)}/wp-content/themes/#{unquote($childtheme)}/fonts/ITCFranklinGothicStd/ITCFranklinGothicStd-Book.otf.woff2') format('woff2'),
		url('http://shockstage.com/#{unquote($subdomain)}/wp-content/themes/#{unquote($childtheme)}/fonts/ITCFranklinGothicStd/ITCFranklinGothicStd-Book.otf.woff') format('woff'),
		url('http://shockstage.com/#{unquote($subdomain)}/wp-content/themes/#{unquote($childtheme)}/fonts/ITCFranklinGothicStd/ITCFranklinGothicStd-Book.ttf') format('truetype'),
		url('http://shockstage.com/#{unquote($subdomain)}/wp-content/themes/#{unquote($childtheme)}/fonts/ITCFranklinGothicStd/ITCFranklinGothicStd-Book.ttf#ITCFranklinGothicStd-Book') format('svg');
}
@font-face {
	font-family: 'ITCFranklinGothicStd';
	font-weight: 500 699;
	font-style: medium;
	font-stretch: medium;
	src: url('http://shockstage.com/#{unquote($subdomain)}/wp-content/themes/#{unquote($childtheme)}/fonts/ITCFranklinGothicStd/ITCFranklinGothicStd-Med.otf') format('opentype'),
		url('http://shockstage.com/#{unquote($subdomain)}/wp-content/themes/#{unquote($childtheme)}/fonts/ITCFranklinGothicStd/ITCFranklinGothicStd-Med.otf.woff2') format('woff2'),
		url('http://shockstage.com/#{unquote($subdomain)}/wp-content/themes/#{unquote($childtheme)}/fonts/ITCFranklinGothicStd/ITCFranklinGothicStd-Med.otf.woff') format('woff'),
		url('http://shockstage.com/#{unquote($subdomain)}/wp-content/themes/#{unquote($childtheme)}/fonts/ITCFranklinGothicStd/ITCFranklinGothicStd-Med.ttf') format('truetype'),
		url('http://shockstage.com/#{unquote($subdomain)}/wp-content/themes/#{unquote($childtheme)}/fonts/ITCFranklinGothicStd/ITCFranklinGothicStd-Med.ttf#ITCFranklinGothicStd-Med') format('svg');
}
@font-face {
	font-family: 'ITCFranklinGothicStd';
	font-weight: 700 799;
	font-style: bold;
	font-stretch: bold;
	src: url('http://shockstage.com/#{unquote($subdomain)}/wp-content/themes/#{unquote($childtheme)}/fonts/ITCFranklinGothicStd/ITCFranklinGothicStd-Demi.otf') format('opentype'),
		url('http://shockstage.com/#{unquote($subdomain)}/wp-content/themes/#{unquote($childtheme)}/fonts/ITCFranklinGothicStd/ITCFranklinGothicStd-Demi.otf.woff2') format('woff2'),
		url('http://shockstage.com/#{unquote($subdomain)}/wp-content/themes/#{unquote($childtheme)}/fonts/ITCFranklinGothicStd/ITCFranklinGothicStd-Demi.otf.woff') format('woff'),
		url('http://shockstage.com/#{unquote($subdomain)}/wp-content/themes/#{unquote($childtheme)}/fonts/ITCFranklinGothicStd/ITCFranklinGothicStd-Demi.ttf') format('truetype'),
		url('http://shockstage.com/#{unquote($subdomain)}/wp-content/themes/#{unquote($childtheme)}/fonts/ITCFranklinGothicStd/ITCFranklinGothicStd-Demi.ttf#ITCFranklinGothicStd-Demi') format('svg');
}
@font-face {
	font-family: 'ITCFranklinGothicStd';
	font-weight: 800 900;
	font-style: bolder;
	font-stretch: bolder;
	src: url('http://shockstage.com/#{unquote($subdomain)}/wp-content/themes/#{unquote($childtheme)}/fonts/ITCFranklinGothicStd/ITCFranklinGothicStd-Hvy.otf') format('opentype'),
		url('http://shockstage.com/#{unquote($subdomain)}/wp-content/themes/#{unquote($childtheme)}/fonts/ITCFranklinGothicStd/ITCFranklinGothicStd-Hvy.otf.woff2') format('woff2'),
		url('http://shockstage.com/#{unquote($subdomain)}/wp-content/themes/#{unquote($childtheme)}/fonts/ITCFranklinGothicStd/ITCFranklinGothicStd-Hvy.otf.woff') format('woff'),
		url('http://shockstage.com/#{unquote($subdomain)}/wp-content/themes/#{unquote($childtheme)}/fonts/ITCFranklinGothicStd/ITCFranklinGothicStd-Hvy.ttf') format('truetype'),
		url('http://shockstage.com/#{unquote($subdomain)}/wp-content/themes/#{unquote($childtheme)}/fonts/ITCFranklinGothicStd/ITCFranklinGothicStd-Hvy.ttf#ITCFranklinGothicStd-Hvy') format('svg');
}



// END Source Sans Variable font
/* ***** ***** ***** ***** ***** ***** ***** ***** ***** */
