#site-logo #site-logo-inner a {

	svg,
	img {
		height: 35px;
	}

	// Disable opacity on hover
	&:hover img {
		-moz-opacity: 1;
		-webkit-opacity: 1;
		opacity: 1;
	}

	/* SVG hover effect */
	svg * {
		transition: all 0.3s $ease-in-out-quar;
	}

	&:hover svg {
		.st0 {
			fill: #c88244;
		}
	}


}
