nav#site-navigation {
	ul#menu-main-menu {
		li {
			a {
				font-family: $primaryfont;
				font-size: 1.25rem;
				font-weight: bold;
			}

			&.current-menu-item a, &.current-page-item a{
				.text-wrap:after {
					height: 2px;
					opacity: 1;
					transform: translateY(0);
					background: color(white);
				}
			}

		}
	}
}
