.background {

	&-left {
		background-position: left;
	}

	&-left-top {
		background-position: left top;
	}

	&-left-bottom {
		background-position: left bottom;
	}


	&-center {
		background-position: center;
	}

	&-center-top {
		background-position: center top;
	}

	&-center-bottom {
		background-position: center bottom;
	}

	&-right {
		background-position: right;
	}

	&-right-top {
		background-position: right top;
	}

	&-right-bottom {
		background-position: right bottom;
	}

	&-cover {
		background-size: cover;
	}

	&-contain {
		background-size: cover;
	}

	&-fixed {
		background-attachment: fixed;
	}

}


.desktop-background {
	@media (min-width: 1024px) {

		&-left {
			background-position: left;
		}

		&-left-top {
			background-position: left top;
		}

		&-left-bottom {
			background-position: left bottom;
		}


		&-center {
			background-position: center;
		}

		&-center-top {
			background-position: center top;
		}

		&-center-bottom {
			background-position: center bottom;
		}

		&-right {
			background-position: right;
		}

		&-right-top {
			background-position: right top;
		}

		&-right-bottom {
			background-position: right bottom;
		}

		&-cover {
			background-size: cover;
		}

		&-contain {
			background-size: cover;
		}

		&-fixed {
			background-attachment: fixed;
		}
	}
}

.tablet-background {
	@media (min-width: 768px) and (max-width: 1023px) {

		&-left {
			background-position: left;
		}

		&-left-top {
			background-position: left top;
		}

		&-left-bottom {
			background-position: left bottom;
		}


		&-center {
			background-position: center;
		}

		&-center-top {
			background-position: center top;
		}

		&-center-bottom {
			background-position: center bottom;
		}

		&-right {
			background-position: right;
		}

		&-right-top {
			background-position: right top;
		}

		&-right-bottom {
			background-position: right bottom;
		}

		&-cover {
			background-size: cover;
		}

		&-contain {
			background-size: cover;
		}

		&-fixed {
			background-attachment: fixed;
		}
	}
}

.mobile-background {
	@media (max-width: 767px) {

		&-left {
			background-position: left;
		}

		&-left-top {
			background-position: left top;
		}

		&-left-bottom {
			background-position: left bottom;
		}


		&-center {
			background-position: center;
		}

		&-center-top {
			background-position: center top;
		}

		&-center-bottom {
			background-position: center bottom;
		}

		&-right {
			background-position: right;
		}

		&-right-top {
			background-position: right top;
		}

		&-right-bottom {
			background-position: right bottom;
		}

		&-cover {
			background-size: cover;
		}

		&-contain {
			background-size: cover;
		}

		&-fixed {
			background-attachment: fixed;
		}
	}
}
