.only {
	&-desktop {
		@media (max-width: 1023px) {
			display: none;
		}
	}
	&-tablet {
		@media (max-width: 767px), (min-width: 1024px) {
			display: none;
		}
	}
	&-mobile {
		@media (min-width: 768px) {
			display: none;
		}
	}
}

.hide {
	&-desktop {
		@media (min-width: 1024px) {
			display: none;
		}
	}
	&-tablet {
		@media (min-width: 768px) and (max-width: 1023px) {
			display: none;
		}
	}
	&-mobile {
		@media (max-width: 767px) {
			display: none;
		}
	}
}
