// FORM SETTINGS
form.underline {

	// Line - Width
	$line_width						: 2px;
	$line_width-hover				: 2px;
	$line_width-focus				: 2px;
	$line_width-error				: 2px;
	// Line - Color
	$line_color						: color(white);
	$line_color-hover				: color(hover, 50);
	$line_color-focus				: color(hover);
	$line_color-error				: color(red);

	// Label
	$label_display					: none;
	// Label - Typography
	$label_fontsize					: 1em;
	$label_fontweight				: 600;
	$label_alignment				: left;
	// Label- Color
	$label_color					: color(black);
	$label_color-hover				: color(black);
	$label_color-focus				: color(black);

	// Description
	$description_display			: flex;
	// Description - Typography
	$description_fontsize			: 1rem;
	$description_fontweight			: 400;
	$description_alignment			: left;
	// Descriptiopn- Color
	$description_color				: color(black);
	// Error Message
	$description_fontsize-error		: 0.65rem;
	$description_fontweight-error	: 400;
	$description_color-error		: color(white);
	$description_padding-error		: 0.25em 1.5em;
	$description_background-error	: linear-gradient( to bottom, rgba( color(red), 0.25 ) 0%, rgba( color(red), 0 ) 100%);

	// Input
	// Input - Color
	$input_color					: color(white);
	$input_color-hover				: color(white);
	$input_color-focus				: color(hover);
	$input_color-error				: color(white);
	$input_color-placeholder		: rgba( color(white), 0.75 );
	$input_color-placeholder-hover	: rgba( color(white), 1 );
	$input_color-placeholder-focus	: rgba( color(hover), 1 );
	$input_color-placeholder-error	: rgba( color(red), 1 );
	// Input - Background
	$input_background				: transparent;
	$input_background-hover			: transparent;
	$input_background-focus			: transparent;
	$input_background-error			: transparent;
	// Input - Typography
	$input_fontsize					: 1.25rem;
	$input_fontweight				: 600;
	// Input - Spacing
	$input_padding					: 1.5em 1em;
	// Input Height
	$input_minheight				: 1.5em;
	$input_maxheight				: 1.5em;
	// Input - Hover Transform
	$input_transform-hover			: none;
	$input_transform-focus			: none;
	// Textarea
	// Textarea Height
	$textarea_height				: 6em;
	$textarea_height-small			: 6em;
	$textarea_maxheight				: 6em;
	$textarea_maxheight-small		: 6em;
	// Multiupload
	$multiupload_background			: color(grey);
	$multiupload_input_bg			: rgba( color(white), 0.5 );

	// Button
	// Button - Color
	$button_color					: color(white);
	$button_color-hover				: color(white);
	// Button - Background
	$button_background				: transparent;
	$button_background-hover		: color(hover);
	// Input - Typography
	$button_fontsize				: 1.25rem;
	$button_fontweight				: 600;
	// Button - Border
	$button_border					: color(white);
	$button_border-hover			: color(hover);
	$button_border_width			: 2px;
	$button_border_width-hover		: 2px;
	// Button - Corner
	$button_border_radius			: 0;
	$button_border_radius-hover		: 0;
	// Button - Width
	$button_minwidth				: 30%;
	$button_minwidth-hover			: 30%;
	// Button - Hover Transform
	$button_transform-hover			: translateY(-5px);

	// Shadow
	// Shadow - Normal
	$shadow_x						: 0;
	$shadow_y						: 0;
	$shadow_blur					: 50px;
	$shadow_spread					: 0;
	$shadow_color					: rgba( color(black), 0 );
	// Shadow - hover
	$shadow_x-hover					: 0;
	$shadow_y-hover					: 0;
	$shadow_blur-hover				: 50px;
	$shadow_spread-hover			: 0;
	$shadow_color-hover				: rgba( color(black), 0 );
	// Shadow - Focus
	$shadow_x-focus					: 0;
	$shadow_y-focus					: 0;
	$shadow_blur-focus				: 50px;
	$shadow_spread-focus			: 0;
	$shadow_color-focus				: rgba(color(black), 0 );
	// Shadow - Error
	$shadow_x-error					: 0;
	$shadow_y-error					: 0;
	$shadow_blur-error				: 50px;
	$shadow_spread-error			: 0;
	$shadow_color-error				: rgba(color(black), 0 );


	// Space between each input
	$gfield_space-top				: 0;
	$gfield_space-right				: 0;
	$gfield_space-bottom			: 0.75em;
	$gfield_space-left				: 0;

	// Space between gform_body and gform_footer
	$gform_space					: 1.5rem;




	.gform_body {

		margin-bottom: $gform_space;

		// spacing for field list
		ul.gform_fields {

			list-style: none;
			margin: 0;

			li.gfield {
				// Spacing
				padding-left: 0;
				padding-right: 0;
				margin-top: $gfield_space-top;
				margin-right: $gfield_space-right;
				margin-bottom: $gfield_space-bottom;
				margin-left: $gfield_space-left;


				&:before {
					content: "";
					display: none;
				}

				// Left and right
				&.gf_left_half {
					padding-right: 8px;
					margin-right: 8px;
				}

				&.gf_right_half {
					width: calc(50% - 8px);
				}

				// Remove label
				label.gfield_label {
					// Property
					display: $label_display !important;
					// Color
					color: $label_color !important;
					// Sapcing
					margin-bottom: 0;
					justify-content: $label_alignment !important;
					text-align: $label_alignment !important;
					// Typography
					font-size: $label_fontsize !important;
					font-weight: $label_fontweight !important;

				}

				.gfield_description {
					// Property
					display: $description_display !important;
					// Color
					color: $description_color !important;
					// Typography
					font-size: $description_fontsize !important;
					font-weight: $description_fontweight !important;

					&.validation_message {
						padding: $description_padding-error !important;
						color: $description_color-error !important;
						background: $description_background-error !important;
						// Typography
						font-size: $description_fontsize-error !important;
						font-weight: $description_fontweight-error !important;
						justify-content: $description_alignment !important;
						text-align: $description_alignment !important;
					}
				}

				// [ Input Container ]
				.ginput_container {
					// Spacing
					margin-top: 0;

					// [ All input fields ]
					textarea,
					select,
					fieldset,
					&.ginput_container_multiselect ul.chosen-choices,
					&:not(.ginput_container_multiselect) input:not([type='checkbox']):not([type="radio"]) {
						// Property
						box-sizing: content-box;
						// Spacing
						margin-bottom: 0;
						// Sizing
						width: 100%;
						min-height: $input_minheight !important;
						max-height: $input_maxheight !important;
						padding: $input_padding !important;
						// Typography
						font-size: $input_fontsize !important;
						font-weight: $input_fontweight !important;
						// Border & corner
						border: 0;
						border-radius: 0;
						border-bottom: $line_width solid $line_color;
						// Color & background
						color: $input_color;
						background: $input_background;
						// shadow
						box-shadow: $shadow_x $shadow_y $shadow_blur $shadow_spread $shadow_color;
						// Transition
						transition:
							border 0.3s cubic-bezier(.46,.03,.52,.96) 0.1s,
							box-shadow 0.4s cubic-bezier(.46,.03,.52,.96),
							transform 0.3s unquote(cubic-bezier(.46,.03,.52,.96)) 0.1s,
							background 0.3s cubic-bezier(.46,.03,.52,.96) 0.1s,
							color 0.2s cubic-bezier(.46,.03,.52,.96) !important;


						&::placeholder {
							color: $input_color-placeholder !important;
							opacity: 1;
							transition: color 0.2s cubic-bezier(.46,.03,.52,.96) !important;
						}



						&[aria-invalid="true"] {
							color: $input_color-error !important;
							background: $input_background-error !important;
							border-bottom: $line_width-error solid $line_color-error;
							box-shadow: $shadow_x-error $shadow_y-error $shadow_blur-error $shadow_spread-error $shadow_color-error;

							&::placeholder {
								color: $input_color-placeholder-error !important;
							}
						}

						&:hover {
							color: $input_color-hover !important;
							border-bottom: $line_width-hover solid $line_color-hover;
							background: $input_background-hover !important;
							transform: $input_transform-hover;
							box-shadow:  $shadow_x-hover $shadow_y-hover $shadow_blur-hover $shadow_spread-hover $shadow_color-hover;

							&::placeholder {
								color: $input_color-placeholder-hover !important;
								opacity: 1;
							}

						}

						&:focus {
							color: $input_color-focus !important;
							border-bottom: $line_width-focus solid $line_color-focus;
							background: $input_background-focus !important;
							transform: $input_transform-focus;
							box-shadow:  $shadow_x-focus $shadow_y-focus $shadow_blur-focus $shadow_spread-focus $shadow_color-focus;

							&::placeholder {
								color: $input_color-placeholder-focus !important;
								opacity: 1;
							}
						}





					}
					// END // all input fields

					.textarea {
						height: $textarea_height !important;
						max-height: $textarea_maxheight !important;

						&.small {
							height: $textarea_height-small !important;
							max-height: $textarea_maxheight-small !important;
						}
					}

					// Selection Height Fix - Get input padding + input height
					select {

						@function selectHeightFix( $padding, $height ) {
							@if ( length( $padding ) >= 3 ) {
								$paddingT : nth( $padding, 1);
								$paddingB : nth( $padding, 3);
								@return calc(  ( #{$paddingT} / 2 ) + ( #{$paddingB} / 2 )  + #{$height} );
							} @else {
								$paddingT : nth( $padding, 1);
								@return calc( ( ( #{$paddingT} / 2 ) + ( #{$paddingT} / 2 ) + #{$height} );
							}
						}

						@function selectPaddingFix( $padding ) {
							@if ( length( $padding ) == 1 ) {
								$new_padding: $padding / 2;
								@return #{$new_padding};
							}
							@if ( length( $padding ) == 2 ) {
								$new_padding_TB : nth( $padding, 1 ) / 2;
								$new_padding_LF : nth( $padding, 2 ) / 1;
								@return $new_padding_TB $new_padding_LF;
							}
							@if ( length( $padding ) == 3 ) {
								$new_padding_T : nth( $padding, 1 ) / 2;
								$new_padding_R : nth( $padding, 2 ) / 1;
								$new_padding_B : nth( $padding, 3 ) / 2;
								@return #{$new_padding_T} #{$new_padding_R} #{$new_padding_B};
							}
							@if ( length( $padding ) == 4 ) {
								$new_padding_T : nth( $padding, 1 ) / 2;
								$new_padding_R : nth( $padding, 2 ) / 1;
								$new_padding_B : nth( $padding, 3 ) / 2;
								$new_padding_L : nth( $padding, 4 ) / 1;
								@return #{$new_padding_T} #{$new_padding_R} #{$new_padding_B} #{$new_padding_L};
							}
						}

						min-height :  selectHeightFix( $input_padding, $input_minheight) !important;
						max-height : selectHeightFix( $input_padding, $input_maxheight) !important;
						padding : selectPaddingFix( $input_padding ) !important;
					}

					// [ Multi-select ]
					&.ginput_container_multiselect .chosen-container.chosen-container-multi {
						// fix width inconsistency
						width: 100% !important;

						// "Pills" syling
						ul.chosen-choices li.search-choice {
							// Property
							// Spacing
							// Sizing
							padding: 0.3em 1em;
							// Border & corner
							border: 0;
							border-radius: 1em;
							// Color & background
							color: $input_color;
							background: $input_background;

							span {
								// property
								position: relative;
								display: inline-block;
								// Positioning
								float: left;
							}

							// deselect button
							a.search-choice-close {
								// property
								position: relative;
								display: inline-block;
								// Positioning
								top: 0;
								right: 0;
								margin-left: 0.5em;
								// Sizing
								width: 1em;
								height: 1em;
								// Typography
								font-size: inherit;
								// Color & background
								background: none; // remove the native 'X' from spritesheet, use pseudo element instead

								&:before {
									// Pseudo
									content: '\f057';
									// Typography
									font-family: 'FontAwesome';
									// Color & background
									color: inherit;
								}

							}

							// END // deselect button

						}

						// END // "Pills" styling

					}
					// END // [ Multi-select ]

					// [ Radio ]
					&.ginput_container_radio {

						ul.gfield_radio {
							list-style: none;
							display: flex;
							justify-content: flex-start;

							& > li {
								display: flex;
								align-items: center;
								margin-right: 0.5em;
								padding: 0.25em 0.5em;
								background-blend-mode: multiply;
								transition: all 0.3s cubic-bezier(.46,.03,.52,.96);

								input {
									margin-right: 0.5em;
								}

								label {
									cursor: pointer;
								}

								&:hover {
									background: rgba($label_color-hover, 0.15);
									border-radius: 1.5em;
								}
							}
						}
					}// END // [ Radio ]

					// Multiupload
					&.ginput_container_fileupload {
					display: flex;
					flex-wrap: wrap;

					.screen-reader-text {
						display: none;
					}

					.validation_message {
						font-size: 0.75em;
						padding: 0.5em 0;
						width: 100%;
					}

					.gform_fileupload_multifile {
						display: flex;
						flex-wrap: wrap;
						flex-basis: 100%;
						justify-content: center;
						padding: 1.5rem;
						background: $multiupload_background;

						.gform_drop_area {
							display: flex;
							flex-wrap: wrap;
							flex-basis: 100%;
							justify-content: center;

							.gform_drop_instructions {
								font-size: 0.85em;
							}

							input.gform_button_select_files {
								// Property
								// Positioning
								margin: 0 auto;
								// Sizing
								min-width: 300px;
								padding: 1em 1.5em !important;
								min-height: unset !important;
								max-height: unset !important;
								height: auto !important;
								// Typograph
								font-family: inherit !important;
								text-transform: uppercase;
								font-size: 0.85em !important;
								font-weight: 400 !important;
								line-height: 1em !important;
								// Border & corner
								border: 0 !important;
								border-radius: 3em !important;
								// Color & background
								color: $label_color !important;
								background: $multiupload_input_bg !important;
								// shadow
								box-shadow: 0px 0px 50px $shadow_color;
								// Transition
								transition:
									border 0.3s cubic-bezier(.46,.03,.52,.96) 0.1s,
									box-shadow 0.4s cubic-bezier(.46,.03,.52,.96),
									background 0.3s cubic-bezier(.46,.03,.52,.96) 0.1s,
									color 0.6s cubic-bezier(.46,.03,.52,.96) 0.2s,
									transform 0.3s cubic-bezier(.46,.03,.52,.96) !important;

								&:hover {
									color: $label_color-hover !important;
									background: rgba($input_background-hover, 1) !important;

								}
							}

						}
					}

				}

					// [ Checkboxes ]
					&.ginput_container_checkbox {
						ul.gfield_checkbox {
							// fix width inconsistency
							width: 100%;

							li {
								margin: 0 0 0.5em;

								label {
									// Color & background
									color: $label_color;
									// Typography
									font-family: inherit;
									font-weight: normal !important;
									// Transition
									transition: color 0.6s cubic-bezier(.46,.03,.52,.96) 0.2s;
								}

								input {

									margin-bottom: 0;
								}

								input:hover + label {

									font-weight: normal;
								}

								input:checked + label {

									font-weight: normal;
									color: $input_color;
								}
							}
						}
					}
					// END // [ Checkbox ]

					// [ Radio ]
					&.ginput_container_radio {

						ul.gfield_radio {
							list-style: none;
							display: flex;
							justify-content: flex-start;

							& > li {
								display: flex;
								align-items: center;
								margin-right: 0.5em;
								padding: 0.25em 0.5em;
								background-blend-mode: multiply;
								transition: all 0.3s cubic-bezier(.46,.03,.52,.96);

								input {
									margin-right: 0.5em;
								}

								label {
									cursor: pointer;
								}

								&:hover {
									background: rgba( $label_color-hover, 0.15 );
									border-radius: 1.5em;
								}
							}
						}

					}
					// END // [ Radio ]
				}

				// END // [ .ginput_container ]

				&.gform_validation_container {
					visibility: hidden !important;
					position: absolute !important;
					pointer-events: none !important;
					z-index: -99999 !important;
					opacity: 0 !important;
				}

				&.one-line {
					display: flex;
					align-items: center;

					& > * {
						display: flex;
						margin-right: 1em;
					}

					.ginput_container {
						ul.gfield_radio {
							display: flex;


							& > li {
								display: flex;
								align-items: center;
								margin-right: 1em;
								margin-bottom: 0;

								input {
									margin-right: 0.25em;
								}
							}
					}
					}
				}

				// Multiupload - Preview
				.ginput_preview {
					display: flex;
					align-items: center;
					img {
						margin: 0.5em;
					}
				}

			}

			// END // .gfield
		}

	}

	// END // [ .gform_body ]


	// [ .gform_footer ]
	.gform_footer {

		display: flex;
		justify-content: center;
		align-content: center;
		margin-top: $gform_space;

		// Submit button
		input.gform_button,
		input.button,
		button,
		.button {
			// Property
			// Positioning
			margin: 0 auto;
			// Sizing
			min-width: $button_minwidth;
			padding: 1em 1.5em !important;
			min-height: unset !important;
			// Typograph
			font-family: inherit !important;
			text-transform: uppercase;
			font-size: $button_fontsize !important;
			font-weight: $button_fontweight !important;
			line-height: 1em !important;
			// Border & corner
			border: $button_border_width solid $button_border;
			border-radius: $button_border_radius !important;
			// Color & background
			color: $button_color !important;
			background: $button_background !important;
			// shadow
			box-shadow: 0px 0px 50px $shadow_color;
			// Transition
			transition:
				border 0.3s cubic-bezier(.46,.03,.52,.96) 0.1s,
				box-shadow 0.4s cubic-bezier(.46,.03,.52,.96),
				background 0.3s cubic-bezier(.46,.03,.52,.96) 0.1s,
				color 0.6s cubic-bezier(.46,.03,.52,.96) 0.2s,
				transform 0.3s cubic-bezier(.46,.03,.52,.96) !important;


			&:hover {
				color: $button_color-hover !important;
				border: $button_border_width-hover solid $button_border-hover;
				border-radius: $button_border_radius-hover !important;
				background: $button_background-hover !important;
				transform: $button_transform-hover;
				box-shadow: 0px 5px 20px $shadow_color-hover;

			}



		}
	}

	// END // [ .gform_footer ]

	img.gform_ajax_spinner {

		display: none !important;
	}
}
// END // form
