/*
Theme Name: Shock - BadLab
Description: Custom theme by Shock Media Studio, based on XXX theme.
Author: Shock Media Studio
Template: oceanwp
*/

@import './00--legacy_code/_legacy_code';
@import './01--configuration/_configuration';
@import './02--general_and_typography/_general';
@import './03--theme/_theme';
@import './04--element/_element';
@import './05--plugin/_plugin';
@import './06--woocommerce/_woocommerce';
// ...
// ...
// ...
@import './99--spaghetti/_spaghetti';


@media screen and (-webkit-min-device-pixel-ratio:0) {
	html {  
		-webkit-text-size-adjust: none !important;
		text-size-adjust: none !important;
	}
} 