// Mobile responsive horizontal scrolling fix
html, body {
	@media (max-width: 980px) {
		overflow-x: hidden;
	}
}

// Selections
html {
	body {
		#main {

			p,
			p li,
			p td,
			label,
			input,
			span {
				&::selection {
					background: color(hover) !important;
				}
			}
		}
	}
}

@import './01--animation/_animation';
@import './02--utility_class/_utility_class';
@import './03--additional_typography/_additional_typography';
@import './typography_setup';
