html {

	// Setup for rem sizing
	font-family: $primaryfont !important;
	font-size: $bodysize !important;
	line-height: $lineheight-normal !important;
	font-kerning: normal;
	-moz-font-feature-settings: "lnum"1, "pnum"1, "kern"1, "ss03"1;
	-ms-font-feature-settings: "lnum"1, "pnum"1, "kern"1, "ss03"1;
	-o-font-feature-settings: "lnum"1, "pnum"1, "kern"1, "ss03"1;
	-webkit-font-feature-settings: "lnum"1, "pnum"1, "kern"1, "ss03"1;
	font-feature-settings: "lnum"1, "pnum"1, "kern"1, "ss03"1;

	i {
		font-size: inherit;
		line-height: inherit;
	}

	body {
		font-family: $primaryfont;
		font-weight: bold;
	}


	#main {

		p,
		div,
		p li,
		p td,
		label,
		input {
			font-family: $primaryfont;
			font-size: $bodysize;
			line-height: $lineheight-normal;
		}

		.wpb_text_column > .wpb_wrapper > p {
			margin: 0;
			margin-bottom: 0.75em;
		}

		// Headings
		h1 {
			font-family: $headingfont;
			font-size: $h1size;
			font-weight: $h1weight;
			line-height: $lineheight-tight;
		}

		h2 {
			font-family: $headingfont;
			font-size: $h2size;
			font-weight: $h2weight;
			line-height: $lineheight-tight;
		}

		h3 {
			font-family: $headingfont;
			font-size: $h3size;
			font-weight: $h3weight;
			line-height: $lineheight-tight;
		}

		h4 {
			font-family: $headingfont;
			font-size: $h4size;
			font-weight: $h4weight;
			line-height: $lineheight-tight;
		}

		h5 {
			font-family: $headingfont;
			font-size: $h5size;
			font-weight: $h5weight;
			line-height: $lineheight-tight;
		}

		h6 {
			font-family: $headingfont;
			font-size: $h6size;
			font-weight: $h6weight;
			line-height: $lineheight-tight;
		}



	}

	// Line
	hr {
		height: 1px;
		margin: 1em auto;
		background-color: color(grey, 10);
	}

	// Sizes
	small {
		font-size: 75%;
	}

	big {
		font-size: 125%;
	}

	// Blockquote citation
	cite {
		font-size: 0.75rem;
		line-height: 1.25;
	}

}
